<!DOCTYPE html>
<html>
	<head>
		<title>Sporting Track | Dashboard</title>
	</head>

	<style>

		div {padding: 8px; margin: 25px}

		.dash-container {
		}

		.info-all {
			padding-bottom: 580px;
		}

		.activity-feed {
			border: solid 1px;
			float: left;
			margin-left: 400px;
			margin-bottom: 0px;
			margin-right: 10px;
		}

		.header {
			padding-bottom: 35px;

		}

		.feed-ops {
			border: solid 1px;
			float: right;
			margin: 0px;
		}

		.all-activities {
			border: solid 1px;
		}

		.sidebar {
			border: solid 1px;
			float: right;
			margin-right: 600px;
			margin-left: 10px;
			margin-bottom: 0px;
		}
		

	</style>

	<body>

		<div class="dash-container">

			<div class="info-all">

				<p align="center">DashBoard</p>

				<div class="activity-feed">
					Activity Feed
					<div class="header">
						Feed Actividade
						<div class="feed-ops">
							Opcoes Adicionais
						</div>
					</div>

					<div class="all-activities">
						Todas as actividades
						<div class="date">
							Data actividade
						</div>

						<div class="feed-info">
							<p>Titulo</p>
							<p>User</p>
							<p>Lista com atributos actividade</p>

							<div class="activity-ops">
								Opcoes adicionais
							</div>
						</div>
					</div>
				</div>

				<div class="sidebar">
					Sidebar
					<div class="week-info">
						Week Info
					</div>

					<div class="friends-finder">
						Find Friends
					</div>

					<div class="op1">
						Option1
					</div>

					<div class="op2">
						Option2
					</div>

					<div class="op3">
						Option3
					</div>
				</div>
			</div>
		</div>
	</body>
</html>