<!DOCTYPE html>
<html>
<head>
 <title>SportingTrack</title>
 <style>

 body {

  background: url(http://alexloves.com/wp-content/uploads/2013/04/ws_Girl_Running_1680x1050.jpg)center fixed;
  background-size: cover;

 }

     #register-div{
      position: absolute;
      top: 33%;
      left: 33%;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      
     }

     #login-div{
      position: absolute;
      top: 33%;
      left: 60%;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
     }

     #button{
      text-decoration: none;
      font-family: "Lucida Console", Monaco, monospace‏;
      font-size: 40px;
     }

     div a:hover{

      color: white;

     }

     div a {
     	color: #FFCC33;
     }


 </style>

</head>
<body>
<div>

	<% if notice %>
     <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

	<p class="navbar-text pull-right">

  	<div id="register-div" > 
 			<a href="/users/sign_up" id="button">Register</a>
 		</div>

 		<div id="login-div">
  			<a href="/users/sign_in" id="button">Login</a>
 		</div>

</div>
</body>
</html>
